.card {
  padding: 0 140px 0 140px;
  display: block;
  height: auto;
  margin: auto;
}

.card__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.card__container {
  position: relative;
  width: calc((100% - 60px) / 4);
  max-height: 438px;
  list-style-type: none;
}

/* .card__container {
  margin-right: 20px;
} */

.card__img {
  width: 275px;
  height: 341px;
}

.card__title {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 18px;
}

.card__titleContainer {
  margin-bottom: 0;
  min-height: 18px;
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;
}

.card__titleClarification {
  color: #a8a8a8;
  margin-bottom: 0;
}

.card__priceContainer {
  margin-top: 7px;
  margin-bottom: 31px;
  display: flex;
}

.card__pricePromotional {
  font-size: 13px;
  line-height: 13px;
  color: #ff3451;
}

.card__price {
  font-size: 13px;
  line-height: 13px;
  color: #808080;
}

/* Modal */

.card__detail {
  position: absolute;
  top: 70.5%;
  left: 73.5%;
}

.card__detailButton {
  color: #fff;
  border-color: #000;
  background: #000;
}
