.ant-tabs-tab + .ant-tabs-tab {
  margin: 40px 48px 0 0;
  color: #b3b3b3 !important;
  font-size: 17px;
  line-height: 27px;
}

.ant-tabs-tab {
  margin-top: 40px;
  margin-right: 48px;
  font-size: 17px;
  line-height: 27px;
  color: #b3b3b3 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1a1a1a !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #000000;
  pointer-events: none;
}

.ant-tabs {
  width: 100%;
  display: flex;
}

/* button */

.ant-tabs-nav-list {
  border-bottom: 1px solid white !important;
}
